.main-header {
  z-index: 5 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

  background: #ffffff !important;

  border-bottom: 1px solid #DFE4ED;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}