<section class="contact-us">
  <div class="main-contact-us">
    <div class="wrapper-contact-us">
      <h2>Contact Us Form - Reactive Forms</h2>
      <form [formGroup]="contactUsFormGroup" (ngSubmit)="onSubmit()">

        <div class="card">
          <div class="card-header">Basic Information</div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label>First Name</label>
                  <input type="text" class="form-control" [formControl]="firstName"
                    [ngClass]="{'is-invalid': submitted && form.firstName.errors}" />
                  <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback d-block">
                    <div *ngIf="form.firstName.errors.required">
                      First name is required!
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label>Last Name</label>
                  <input type="text" class="form-control" [formControl]="lastName"
                    [ngClass]="{'is-invalid': submitted && form.lastName.errors}" />
                  <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback d-block">
                    <div *ngIf="form.lastName.errors.required">
                      Last name is required!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label>Age</label>
                  <input type="text" class="form-control" [formControl]="age"
                    [ngClass]="{'is-invalid': submitted && form.age.errors}" />
                  <div *ngIf="submitted && form.age.errors" class="invalid-feedback d-block">
                    <div *ngIf="form.age.errors.required">
                      Age is required!
                    </div>
                    <div *ngIf="form.age.errors.pattern">
                      Age should be a number
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label>Gender</label>
                  <select class="form-control" [formControl]="gender"
                    [ngClass]="{'is-invalid': submitted && form.gender.errors}">
                    <option [value]="item.key" *ngFor="let item of genderList">{{item.value}}</option>
                  </select>
                  <div *ngIf="submitted && form.gender.errors" class="invalid-feedback d-block">
                    <div *ngIf="form.gender.errors.required">
                      Please select a Gender
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3" [formGroup]="address">
          <div class="card-header">Address Information</div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label>Country</label>
                  <select class="form-control" [formControl]="country"
                    [ngClass]="{'is-invalid': submitted && addressForm.country.errors}">
                    <option [value]="cnt.code" *ngFor="let cnt of countryList">{{cnt.value}}</option>
                  </select>
                  <div *ngIf="submitted && addressForm.country.errors" class="invalid-feedback d-block">
                    <div *ngIf="addressForm.country.errors.required">
                      Please select a Country
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label>State</label>
                  <input type="text" class="form-control" [formControl]="state"
                    [ngClass]="{'is-invalid': submitted && addressForm.state.errors}" />
                  <div *ngIf="submitted && addressForm.state.errors" class="invalid-feedback d-block">
                    <div *ngIf="addressForm.state.errors.required">
                      State is required!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label>Zip Code</label>
                  <input type="text" class="form-control" [formControl]="zipCode"
                    [ngClass]="{'is-invalid': submitted && addressForm.zipCode.errors}" />
                  <div *ngIf="submitted && addressForm.zipCode.errors" class="invalid-feedback d-block">
                    <div *ngIf="addressForm.zipCode.errors.required">
                      Zip is required!
                    </div>
                    <div *ngIf="addressForm.zipCode.errors.pattern">
                      Zip should be a number
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label>City</label>
                  <input type="text" class="form-control" [formControl]="city"
                    [ngClass]="{'is-invalid': submitted && addressForm.city.errors}" />
                  <div *ngIf="submitted && addressForm.city.errors" class="invalid-feedback d-block">
                    <div *ngIf="addressForm.city.errors.required">
                      City is Required!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label>Area</label>
                  <input type="text" class="form-control" [formControl]="area"
                    [ngClass]="{'is-invalid': submitted && addressForm.area.errors}" />
                  <div *ngIf="submitted && addressForm.area.errors" class="invalid-feedback d-block">
                    <div *ngIf="addressForm.area.errors.required">
                      Area is Required!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4 align-right">
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</section>